{{ partial "document_start.html" . }}
<style>
  .apache {
    background-color: #303284;
    color: white;
  }

  .highlighted {
    background-color: #3f51b5;
    background-color: var(--mdc-theme-primary, #3f51b5);
    color: white;
  }

  .splash-text {
    text-align: left;
    max-width: 760px;
    margin: 0 auto;
    line-height: 30px;
  }
</style>
</head>
<body>
{{ partial "header.html" . }}
<main class="mdc-toolbar-fixed-adjust">
  <div class="full-grid mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <div class="mdc-layout-gird__inner content-width center-text">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <img src="assets/ApacheWaveCircleLogo.svg">
          </div>
          <div
              class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-typography--body1">
            <p class="splash-text">
              <b>Apache Wave</b> is a distributed, near-real-time, rich
              collaboration
              platform that allows users to work together in new and exciting
              ways. Wave allows for flexible modes of communication, blending
              chat, email and collaborative document editing in to one seamless
              environment; providing a lively and responsive environment
              that promotes more fluid and dynamic collaboration between users.
            </p>
            <p style="padding-top: 25px;" class="splash-text">
              Wave is built upon Operation Transforms which power real time
              systems like Google Docs. The projects aim is to provide this
              technology to many users through a backend server and a REST Api;
              much like the Realtime Api offered by Google but for "Host Your
              Own" solutions.
            </p>
            <br/>
            <ul class="mdc-list" style="width: 160px; margin: 0 auto; text-align: center">
              <li class="mdc-list-item">
                <a href=""
                   class="mdc-button mdc-button--raised mdc-button--primary">
                  <i class="material-icons"
                     style="vertical-align: middle">play_arrow</i>
                  Get Started
                </a>
              </li>
              <li class="mdc-list-item">
                <a href=""
                   class="mdc-button mdc-button--raised mdc-button--primary">
                  <i class="material-icons"
                     style="vertical-align: middle">get_app</i>
                  Download&nbsp;&nbsp;&nbsp;&nbsp;
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
          class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 highlighted">
        <div class="mdc-layout-grid__inner content-width">
          <div
              class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <h1 class="mdc-typography--display1">Client</h1>
            <p>
              The Apache Wave client
            </p>
          </div>
          <div
              class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone mobile-centered">
            <img
                src="https://svn.apache.org/repos/asf/incubator/wave/whitepapers/operational-transform/img/david_ot3.png"
                alt="Operational Transform Data Graph"
                height="300px">
          </div>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <div class="mdc-layout-grid__inner content-width">
          <div
              class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone mobile-centered">
            <img
                src="https://svn.apache.org/repos/asf/incubator/wave/whitepapers/operational-transform/img/david_ot3.png"
                alt="Operational Transform Data Graph"
                height="300px">
          </div>
          <div
              class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <h1 class="mdc-typography--display1">Operational Transform</h1>
            <p>
              Description of operational transforms
            </p>
          </div>
        </div>
      </div>
      <div
          class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 highlighted">
        <div class="mdc-layout-grid__inner content-width">
          <div
              class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <h1 class="mdc-typography--display1">Server</h1>
            <p>
              The server....
            </p>
          </div>
          <div
              class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone mobile-centered">
            <img
                src="https://svn.apache.org/repos/asf/incubator/wave/whitepapers/operational-transform/img/david_ot3.png"
                alt="Operational Transform Data Graph"
                height="300px">
          </div>
        </div>
      </div>
      <div
          class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 content-width center-text">
        <img
            src="http://incubator.apache.org/images/incubator_feather_egg_logo.png"
            alt="Apache Incubator"
            style="max-width: 460px;">
      </div>
      <div
          class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 apache center-text">
        <div class="content-width">
          The apache Incubator/.../....
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 center-text content-width">
        <h1 class="mdc-typography--display1">Contribute</h1>
        <p>
          Apache Wave is always looking for more participants, visit our
          community page to find out how to contribute.
        </p>
      </div>
    </div>
  </div>
</main>
{{ partial "footer.html" . }}
{{ partial "document_end.html" . }}