<footer class="mdc-layout-grid">
  <div id="footer" class="mdc-layout-grid__inner" style="">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet">
      <ul class="footer-list">
        <li><a class="footer-link" href="">Home</a></li>
        <li><a class="footer-link" href="">Docs</a></li>
        <li><a class="footer-link" href="">Community</a></li>
        <li><a class="footer-link" href="">Maintainers</a></li>
        <li><a class="footer-link" href="">Apache</a></li>
        <li><a class="footer-link" href="">Download</a></li>
      </ul>
    </div>
    <div id="copyright" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet"
        style="text-align: right; margin: 1em;">
      {{ .Site.Copyright }}
    </div>
  </div>
</footer>