<header class="mdc-toolbar mdc-toolbar--fixed mdc-toolbar--platform">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <img height="56px" style="padding-top: 5px;"
           src="assets/ApacheWaveCircleLogo.svg">
      <span class="mdc-toolbar__title">
        Apache Wave
      </span>
    </section>
    <section
        class="mdc-toolbar__section mdc-toolbar__section--align-end hide-mobile-only">
      <ul class="nav-list">
        <li><a class="toolbar-link" href="">Home</a></li>
        <li><a class="toolbar-link" href="">Docs</a></li>
        <li><a class="toolbar-link" href="">Community</a></li>
        <li><a class="toolbar-link" href="">Maintainers</a></li>
        <li><a class="toolbar-link" href="">Apache</a></li>
        <li><a class="toolbar-link" href="">Download</a></li>
      </ul>
    </section>
    <section
        class="mdc-toolbar__section mdc-toolbar__section--align-end show-mobile-only">
      <button class="demo-menu material-icons mdc-toolbar__icon--menu">menu
      </button>
    </section>
  </div>
</header>
<aside class="mdc-temporary-drawer">
  <nav class="mdc-temporary-drawer__drawer">
    <header class="mdc-temporary-drawer__header">
      <div
          class="mdc-temporary-drawer__header-content mdc-theme--primary-bg mdc-theme--text-primary-on-primary">
        <img width="200px" src="assets/ApacheWaveCircleLogo.svg">
      </div>
    </header>
    <nav class="mdc-temporary-drawer__content mdc-list-group">
      <div class="mdc-list">
        <a class="mdc-list-item" href="#">
          Home
        </a>
        <a class="mdc-list-item" href="#">
          Docs
        </a>
        <a class="mdc-list-item" href="#">
          Community
        </a>
        <a class="mdc-list-item" href="#">
          Maintainers
        </a>
        <a class="mdc-list-item" href="#">
          Apache
        </a>
        <a class="mdc-list-item" href="#">
          Download
        </a>
      </div>
    </nav>
  </nav>
</aside>