body {
  margin: 0;
  min-height: 100%;
}


/* Utilities */
.center-text {
  text-align: center;
}

.full-grid {
  padding: 0;
}

.content-width {
  max-width: 960px;
  padding: 100px 16px;
  margin-left: auto;
  margin-right: auto;
}


/* Header */
.mdc-toolbar__row {
  max-width: 980px;
  margin: 0 auto;
}

.nav-list {
  margin-top: 30px;
  margin-bottom: 5px;
}

.nav-list li {
  list-style: none;
  display: inline;
  padding-right: 10px;
}

.toolbar-link:link, .toolbar-link:visited {
  color: #d2dee4;
  font-size: 0.9em;
  text-decoration: none;
}

.toolbar-link:hover {
  text-decoration: underline;
}


/* Footer */
footer {
  padding: 0 !important;
  color: #30393f;
}

#footer {
  max-width: 960px;
  padding: 8px 8px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
}

.footer-list li {
  list-style: none;
  display: inline;
  padding-right: 10px;
}

.footer-link:link, .footer-link:visited {
  color: #30393f;
  font-size: 0.9em;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

/* Screen Focused */
/* Mobile only */
@media screen and (max-width: 839px) {
  .show-mobile-only {
    visibility: visible !important;
  }

  .hide-mobile-only {
    visibility: hidden !important;
    display: none;
  }

  .mobile-centered {
    text-align: center;
  }

  .nav-list li {
    display: block;
  }

  .footer-list li {
    display: block !important;
  }
  #copyright {
    text-align: center !important;
  }
  footer {
    text-align: center !important;
  }
}

@media screen and (min-width: 840px) {
  .show-mobile-only {
    visibility: hidden !important;
    display: none;
  }

  .hide-mobile-only {
    visibility: visible !important;
  }
}